@import url("https://fonts.googleapis.com/css?family=Ropa+Sans");
body {
  background: transparent;
  color: white;
  font-family: "Ropa Sans", sans-serif;
  font-size: 18px;
  overflow: hidden;
}

#chat {
  position: absolute;
  left: 10px;
  bottom: 5px;
  width: calc(100% - 20px);
}

.chat-line {
  overflow: hidden;
  max-height: 0px;
  transition: opacity 2s, max-height 1s, margin-top 1s;
}
.chat-line.visible {
  margin-top: 5px;
  max-height: 300px;
  transition: opacity 2s, max-height 1s, margin-top 300ms;
}
.chat-line .chat-line-inner {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 10px;
  overflow-wrap: break-word;
}
.chat-line .chat-line-inner .badges img.badge {
  margin-right: 6px;
  vertical-align: text-bottom;
  width: 18px;
  height: 18px;
}
.chat-line .chat-line-inner.admin .message {
  opacity: 0.4;
}

/* Highlighted messages */
.chat-line.visible.highlighted {
  position: relative;
  overflow: visible;
  margin: 10px 0px;
}
.chat-line.visible.highlighted::after {
  position: absolute;
  content: "";
  bottom: -4px;
  left: -4px;
  right: 0;
  z-index: -1;
  height: calc(100% + 8px);
  width: calc(100% + 8px);
  transform: translateZ(0);
  filter: blur(3px);
  background: linear-gradient(to left, rgba(0, 255, 255, 0.75), rgba(196, 45, 168, 0.75), rgba(101, 1, 222, 0.75), rgba(196, 45, 168, 0.75), rgba(0, 255, 255, 0.75));
  background-size: 200% 200%;
  -webkit-animation: animateGlow 1.25s linear infinite;
  animation: animateGlow 1.25s linear infinite;
}

@keyframes animateGlow {
  0% {
    background-position: 0vw 50%;
  }
  100% {
    background-position: -200vw 50%;
  }
}


.user-name {
  color: #ff6bb5;
}

.message img {
  vertical-align: text-bottom;
}
.message img.emoji {
  width: 18px;
}
